.hero {
	background-image: url('../assets/Galery/11.jpg');
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	position: relative;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: 0;
}

.subtitlesOtherPages {
	text-align: center;
	margin-bottom: 40px;
	padding: 4em 20px;
	background-color: #F7F8F9;
	}



/* GALERY   */


.rowGalery {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	margin-bottom: 20px;
}


.itemGalery{
	margin-bottom: 2px;
	margin-top: 2px;
	margin-right: 2px;
	flex-basis: 10%;
}


@media (max-width: 700px) {
	.itemGalery{
		flex-basis: 15%;
	}
}

@media (max-width: 450px) {
	.itemGalery{
		flex-basis: 20%;
	}
}

.heroGalery {
	background-image: url('../assets/Galery/19.jpg');
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	position: relative;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: 0;
}

.displayNone {
	display: none ;
}


.positionNone{
	position: relative;
}


/* TRAINING CENTER PAGE */

.trainingCenterPage {
}

.trainingCenterPage h3 {
text-align: center;
background-color: #F7F8F9;
padding: 80px;
}


.training1{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 50px;
}

.contenedorParrafo {
	flex-basis: 30%;
	display: flex;
	justify-content: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.training1 div p {
	text-align: justify;

}

@media (max-width: 600px) {
	.training1 div p {
		font-size: 15px;
		text-align: justify;
	}
}

.backgroundTraining1 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}


.backgroundTraining1 img {
	height: 450px;
	margin-right: auto;
	margin-left: auto;
}



@media (max-width: 600px) {
	.backgroundTraining1 img {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
}



.subtitlesB {
	text-align: center;
	margin-bottom: 40px;
	padding: 4em 20px;
	background-color: #F7F8F9;
	}

/* VOLUNTEERING */

.heroVolunt {
	background-image: url('../assets/Galery/9.jpg');
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	position: relative;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: 0;
}


/* TITLES */

.otherPagesTitle{

	position: absolute;
    top: 0;
    margin-top: 25%;
    z-index: -1;
    opacity: 0.9;
    color: white;
    font-weight: bold;
    font-size: 6em;
}

@media (max-width: 630px) {
	.otherPagesTitle {
		margin-top: 50%;
	}
}

@media (max-width: 400px) {
	.otherPagesTitle {
		font-size: 3em;
	}
}